<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find astra_launch)/launch/astra.launch" />
  <include file="$(find kobuki_auto_docking)/launch/minimal.launch" />

  <node name="navigator" pkg="turtleshow" type="embarque.py" output="screen"/>
  <node name="sound_speaker" pkg="turtleshow" type="sound_player.py" args="--nb-process 3 --id-proc 0"output="screen"/>
  <node name="battery_watcher" pkg="turtleshow" type="testBattery.py" output="screen"/>
</launch>
